button.test-btn test menu
.test-menu
    button.test-popup(data-popup="._win") Тест Win
    button.test-popup(data-popup="._lose") Тест Lose
    button.test-popup(data-popup="._draw") Тест Draw
.land
    .land__logo
        img(src="./img/logo.png" alt="favbet")
    .decor
    .container
        .land__left
            .land__left-wrap
                .land__title
                    .land__title-item(data-text="постав") постав
                    .land__title-item(data-text="в ряд!") в ряд!
                .land__status
                    .land__status-left
                        .land__status-left-item(data-player='X')
                        .land__status-left-item(data-player="O")
                    .land__status-right
                        .land__status-right-text
                            #status
                            #status-text
                        .land__status-right-icon



        .game-wrapper
            .game-pers._left
            .game-pers._right
            .game-grid
            .game-over.opacity
            .game-coins
                .coin
                .coin
                .coin
                .coin
                .coin
                .coin
            #game(style="opacity: 0")
                .win-line
                each val, index in Array(9)
                    .cell(data-index=index)
    .overlay
        .popup._start#side-selection
            .popup__pers
                picture
                    source(media="(max-width: 600px)" srcset='img/pers-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/pers-mob.png')
                    img(src="img/pers-desc.png" alt="Favbet" )
            .popup__coins
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
            .popup__text-start Вибери гравця <br> та отримай додатковий бонус
            .popup__btns
                .popup__btns-item.side-btn(data-side="X")
                    .popup__btns-item-choose
                    .popup__btns-item-icon.playerX
                    .popup__btns-item-player Гравець 01
                    .popup__btns-item-status обрано
                .popup__btns-item.side-btn(data-side="0")
                    .popup__btns-item-choose
                    .popup__btns-item-icon.playerO
                    .popup__btns-item-player Гравець 02
                    .popup__btns-item-status обрано
            .popup__btn.btn.start-game почати гру
            .popup__reflection
                img(src="img/popup/start/reflection-btn.png")
        .popup._lose.hide-popup
            .popup__pers
                picture
                    source(media="(max-width: 600px)" srcset='img/popup/pers-coin-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/popup/pers-coin-mob.png')
                    img(src="img/popup/pers-coin-desc.png" alt="Favbet" )
            .popup__coins
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
            .popup__text не пощастило!
            .popup__subtext забирай додаткові
            .popup__bonus
                .popup__bonus-item
                    img(src="img/popup/bonus.png" alt="favbet")
            .popup__info за будь-яку ставку з основного балансу. Деталі в особистому кабінеті на сайті #[a(href="#") favbet ua]
            a(href='#').popup__btn.btn за бонусом
            .popup__reflection
                img(src="img/popup/reflection-btn.png")
            button.popup__btn-restart.btn-2.restart-game грати ще

        .popup._draw.hide-popup
            .popup__pers
                picture
                    source(media="(max-width: 600px)" srcset='img/popup/pers-coin-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/popup/pers-coin-mob.png')
                    img(src="img/popup/pers-coin-desc.png" alt="Favbet" )
            .popup__coins
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
            .popup__text Ти був на рівні!
            .popup__subtext забирай додаткові
            .popup__bonus
                .popup__bonus-item
                    img(src="img/popup/bonus.png" alt="favbet")
            .popup__info за будь-яку ставку з основного балансу. Деталі в особистому кабінеті на сайті #[a(href="#") favbet ua]
            a(href='#').popup__btn.btn за бонусом
            .popup__reflection
                img(src="img/popup/reflection-btn.png")
            button.popup__btn-restart.btn-2.restart-game грати ще
        .popup._win.hide-popup
            .popup__pers
                picture
                    source(media="(max-width: 600px)" srcset='img/pers-mob.png')
                    source(media="(max-width: 950px) and (max-width: 600px) and (orientation: landscape)" srcset='img/pers-mob.png')
                    img(src="img/pers-desc.png" alt="Favbet" )
            .popup__coins
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
                .popup__coins-item
            .popup__text Ти переміг!
            .popup__subtext забирай додаткові
            .popup__bonus
                .popup__bonus-item
                    img(src="img/popup/bonus.png" alt="favbet")
            .popup__info за будь-яку ставку з основного балансу. Деталі в особистому кабінеті на сайті #[a(href="#") favbet ua]
            a(href='#').popup__btn.btn за бонусом
            .popup__reflection
                img(src="img/popup/reflection-btn.png")
            button.popup__btn-restart.btn-2.restart-game грати ще
.footer
    .footer__text  ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ». Ліцензія на провадження діяльності з організації та проведення букмекерської діяльності від 28.12.2022, видана згідно з рішенням КРАІЛ № 433 від 13.12.2022 та Ліцензія на провадження діяльності з організації та проведення азартних ігор казино в мережі Інтернет від 20.04.2021, видана згідно з рішенням КРАІЛ № 137 від 05.04.2021, зі змінами.
    .footer__wrap
        ul.footer__licensed
            li.footer__licensed-item
                img(src="./img/age.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/applePay.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/googlePay.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/visa.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/mastercard.svg" alt="favbet")
        .footer__btns
            a(href="https://apps.apple.com/ua/app/favbet-ua/id1580749519" target="_blank").footer__appstore
            a(href="https://favbet.ua/minio/android-files/FavbetUA.apk" target="_blank").footer__googlePlay
.legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ